<!DOCTYPE html>
<html>
    <head>
        <title>Error Page</title>
        <link rel="icon" href="/img/icon-weather.webp">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="error_msg">Error : {{ error_msg }}</p>
        </div>
        {{>footer}}
    </body>
</html>